.manual-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.entry-table {
  width: 100%;
  border-collapse: collapse;
}

.entry-table th,
.entry-table td {
  padding: 10px;
  text-align: center;
}

.entry-table input {
  width: 60px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(90deg,#ff0000,#ff5500);
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}